In [35]:
#I have attempted this task via python on jupyter notebook
#First I import both excel sheets in python and combine "Order ID " and "Product ID" in both sheets to create a new column that can act as a unique identifier

import pandas as pd

In [36]:
df1=pd.read_excel('Records Matching Task.xlsx')
df2=pd.read_excel('Records Matching Task 2.xlsx')

In [37]:
df1['concated']=df1['Order ID']+df1['Product ID']
df2['concated']=df2['Order ID']+df2['Product ID']

In [ ]:
df1.set_index(['concated'],inplace=True)
df2.set_index(['concated'],inplace=True)

In [38]:
#Now I create 2 sets for concated column of both df and use set func difference() to create new sets according to tasks given in ques 1 and ques 2

set1=set(df1['concated'].tolist())
set2=set(df2['concated'].tolist())
set3=set1.difference(set2)
set4=set2.difference(set1)

In [58]:
#The length of set3 and set4 are the answers to ques 1 and ques 2 respectively

print(len(set3),len(set4))

507 508

In [39]:
#To view the records ,I created 2 lists that did not contain the desired indices so that I can use them to drop undesired columns from our table

list1=list(set1.difference(set3))
list2=list(set2.difference(set4))

In [ ]:
ans_1=df1.drop(list1).reset_index().drop(['concated'],axis=1)
ans_2=df2.drop(list2).reset_index().drop(['concated'],axis=1)

In [59]:
print(ans_1.head())

         Order ID       Product ID   Qty
0  CA-2014-100006  TEC-PH-10002075   3.0
1  CA-2014-100678  OFF-EN-10000056   3.0
2  CA-2014-100895  OFF-AR-10004511   2.0
3  CA-2014-101560  OFF-BI-10000309   3.0
4  CA-2014-102673  OFF-LA-10001771  12.0

In [60]:
print(ans_2.head())

         Order ID       Product ID  Qty
0  CA-2014-100706  TEC-AC-10001314    2
1  CA-2014-100762  OFF-PA-10001815    3
2  CA-2014-101427  OFF-AR-10002257    3
3  CA-2014-102652  FUR-FU-10001918    7
4  CA-2014-102869  OFF-PA-10000788    3

In [61]:
#For ques 3 we just have to use sum() func on Qty column of the table created for ques 2

print(ans_2['Qty'].sum())

1956

In [62]:
#For Ques 4 we can just use the length of union of sets of our primary key created earlier 

print(len(set1.union(set2)))

9986